In [1]:
print("hello world!")

hello world!

In [4]:
import pandas as pd
import os 
import sys

# 1. Fix the path logic for Notebooks
current_dir = os.getcwd()
parent_dir = os.path.dirname(current_dir)
if parent_dir not in sys.path:
    sys.path.insert(0, parent_dir)

# 2. Use a raw string (r'...') for Windows paths
output_path = r'../simulation_data/tmp/batch_20260127_153615/results/result_job_1.csv'

# 3. Load and display
df = pd.read_csv(output_path)
display(df.head()) # Use .head() with parentheses

,task_id,job_id,graph_name,r,fixation,steps,initial_mutants,N,wl_hash
0,0,1,complete_n10,1.0,False,4,1,10,5b453ccd3f3d3ed7ad07e5dad3901a1d
1,1,1,complete_n10,1.0,False,1,1,10,5b453ccd3f3d3ed7ad07e5dad3901a1d
2,2,1,complete_n10,1.0,False,36,1,10,5b453ccd3f3d3ed7ad07e5dad3901a1d
3,3,1,complete_n10,1.0,False,72,1,10,5b453ccd3f3d3ed7ad07e5dad3901a1d
4,4,1,complete_n10,1.0,True,80,1,10,5b453ccd3f3d3ed7ad07e5dad3901a1d

In [5]:
print(f'{df['fixation'].sum()} / {len(df)} fixation rate')

9 / 100 fixation rate